In [1]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
abSurf = pd.read_excel("../data/original/absSurfs.xlsx")

In [3]:
abSurf.head()

    Site  111           112           121            122  123  124  131  132  133  141            142           211  212  213  221  222  223            231  241           242           243  244           311  312  313  321  322  323            324  331  332  333  334  335  411  412  421  422  423  511            512  521  522  523
0  F0069  0.0  1.064122e+06  3.587087e+05       0.000000  0.0  0.0  0.0    0  0.0  0.0  190795.661377  2.031309e+06    0    0  0.0    0    0  889978.365967    0  2.278667e+06      0.000000    0  2.550014e+05  0.0  0.0    0  0.0    0       0.000000  0.0    0    0    0    0    0  0.0    0    0  0.0  0.0       0.000000    0    0  0.0
1  F0025  0.0  0.000000e+00  0.000000e+00  412752.692383  0.0  0.0  0.0    0  0.0  0.0       0.000000  1.638610e+06    0    0  0.0    0    0       0.000000    0  0.000000e+00      0.000000    0  4.498313e+06  0.0  0.0    0  0.0    0  518907.404297  0.0    0    0    0    0    0  0.0    0    0  0.0  0.0       0.000000    0    0  0.0
2  F0027  0.0  2.741746e+05  0.000000e+00       0.000000  0.0  0.0  0.0    0  0.0  0.0       0.000000  3.221110e+06    0    0  0.0    0    0  275256.583496    0  8.552346e+04      0.000000    0  3.212519e+06  0.0  0.0    0  0.0    0       0.000000  0.0    0    0    0    0    0  0.0    0    0  0.0  0.0       0.000000    0    0  0.0
3  B0128  0.0  2.470089e+06  4.053755e+06  497496.251770  0.0  0.0  0.0    0  0.0  0.0       0.000000  0.000000e+00    0    0  0.0    0    0       0.000000    0  0.000000e+00  47243.074951    0  0.000000e+00  0.0  0.0    0  0.0    0       0.000000  0.0    0    0    0    0    0  0.0    0    0  0.0  0.0       0.000000    0    0  0.0
4  F0023  0.0  0.000000e+00  2.559254e+05       0.000000  0.0  0.0  0.0    0  0.0  0.0       0.000000  3.283660e+06    0    0  0.0    0    0  282648.256836    0  0.000000e+00      0.000000    0  2.938245e+06  0.0  0.0    0  0.0    0   23375.861328  0.0    0    0    0    0    0  0.0    0    0  0.0  0.0  284728.392578    0    0  0.0

In [4]:
abSurf.tail()

     Site  111           112            121            122  123  124  131  132  133  141            142           211  212  213  221  222  223           231  241           242           243  244           311            312           313  321            322  323  324  331  332  333  334  335  411  412  421  422  423  511  512  521  522  523
58  F0007  0.0  0.000000e+00       0.000000       0.000000  0.0  0.0  0.0    0  0.0  0.0       0.000000  0.000000e+00    0    0  0.0    0    0  2.161188e+06    0  1.546218e+06  9.388673e+04    0  3.211653e+06   55637.121582  0.000000e+00    0       0.000000    0  0.0  0.0    0    0    0    0    0  0.0    0    0  0.0  0.0  0.0    0    0  0.0
59  B0069  0.0  8.704243e+05       0.000000       0.000000  0.0  0.0  0.0    0  0.0  0.0  278101.952423  3.496322e+06    0    0  0.0    0    0  2.521990e+05    0  1.933157e+06  0.000000e+00    0  2.383795e+05       0.000000  0.000000e+00    0       0.000000    0  0.0  0.0    0    0    0    0    0  0.0    0    0  0.0  0.0  0.0    0    0  0.0
60  B0152  0.0  4.575279e+06  572639.140564  201434.000214  0.0  0.0  0.0    0  0.0  0.0       0.000000  1.121794e+06    0    0  0.0    0    0  0.000000e+00    0  2.056841e+05  5.013677e+04    0  0.000000e+00       0.000000  0.000000e+00    0  341616.858246    0  0.0  0.0    0    0    0    0    0  0.0    0    0  0.0  0.0  0.0    0    0  0.0
61  F0003  0.0  3.425116e+05       0.000000       0.000000  0.0  0.0  0.0    0  0.0  0.0       0.000000  1.869143e+05    0    0  0.0    0    0  0.000000e+00    0  4.593094e+05  0.000000e+00    0  3.634476e+06  490011.214355  1.955361e+06    0       0.000000    0  0.0  0.0    0    0    0    0    0  0.0    0    0  0.0  0.0  0.0    0    0  0.0
62  B0158  0.0  1.467398e+05       0.000000  318178.187439  0.0  0.0  0.0    0  0.0  0.0       0.000000  3.326810e+06    0    0  0.0    0    0  4.010538e+05    0  2.034749e+05  2.672327e+06    0  0.000000e+00       0.000000  0.000000e+00    0       0.000000    0  0.0  0.0    0    0    0    0    0  0.0    0    0  0.0  0.0  0.0    0    0  0.0

In [5]:
abSurf.shape

(63, 45)

In [6]:
abSurf.columns

Index(['Site', '111', '112', '121', '122', '123', '124', '131', '132', '133', '141', '142', '211', '212', '213', '221', '222', '223', '231', '241', '242', '243', '244', '311', '312', '313', '321', '322', '323', '324', '331', '332', '333', '334', '335', '411', '412', '421', '422', '423', '511', '512', '521', '522', '523'], dtype='object')

In [7]:
abSurf.describe()

                111           112           121            122           123           124           131   132            133           141           142           211   212   213           221   222   223           231   241           242           243   244           311           312           313   321           322   323           324            331   332   333   334   335   411           412   421   422            423            511            512   521   522            523
count  6.300000e+01  6.300000e+01  6.300000e+01      63.000000  6.300000e+01  6.300000e+01  6.300000e+01  63.0      63.000000  6.300000e+01  6.300000e+01  6.300000e+01  63.0  63.0  6.300000e+01  63.0  63.0  6.300000e+01  63.0  6.300000e+01  6.300000e+01  63.0  6.300000e+01  6.300000e+01  6.300000e+01  63.0  6.300000e+01  63.0  6.300000e+01      63.000000  63.0  63.0  63.0  63.0  63.0  6.300000e+01  63.0  63.0      63.000000      63.000000      63.000000  63.0  63.0      63.000000
mean   1.088956e+05  1.145621e+06  4.788801e+05  106502.871447  4.189938e+04  1.652354e+04  3.876016e+04   0.0    7647.955435  5.982277e+04  2.211430e+05  1.576707e+06   0.0   0.0  5.950347e+04   0.0   0.0  5.583753e+05   0.0  5.668671e+05  1.184156e+05   0.0  9.751010e+05  3.806950e+05  3.273756e+05   0.0  4.180943e+04   0.0  7.988734e+04   18135.482874   0.0   0.0   0.0   0.0   0.0  4.968008e+04   0.0   0.0   11215.541029   24681.755180   38290.676109   0.0   0.0   16146.875678
std    4.594387e+05  1.325734e+06  9.376132e+05  209089.915608  2.155835e+05  1.311515e+05  1.653124e+05   0.0   39656.908100  2.878913e+05  8.252766e+05  1.768987e+06   0.0   0.0  3.764672e+05   0.0   0.0  1.040753e+06   0.0  7.621404e+05  3.691191e+05   0.0  1.394555e+06  9.652335e+05  8.366508e+05   0.0  2.054642e+05   0.0  2.706755e+05   90742.001421   0.0   0.0   0.0   0.0   0.0  2.586634e+05   0.0   0.0   58270.310304   93012.938519  143092.616270   0.0   0.0  100894.883145
min    0.000000e+00  0.000000e+00  0.000000e+00       0.000000  0.000000e+00  0.000000e+00  0.000000e+00   0.0       0.000000  0.000000e+00  0.000000e+00  0.000000e+00   0.0   0.0  0.000000e+00   0.0   0.0  0.000000e+00   0.0  0.000000e+00  0.000000e+00   0.0  0.000000e+00  0.000000e+00  0.000000e+00   0.0  0.000000e+00   0.0  0.000000e+00       0.000000   0.0   0.0   0.0   0.0   0.0  0.000000e+00   0.0   0.0       0.000000       0.000000       0.000000   0.0   0.0       0.000000
25%    0.000000e+00  1.799432e+05  0.000000e+00       0.000000  0.000000e+00  0.000000e+00  0.000000e+00   0.0       0.000000  0.000000e+00  0.000000e+00  0.000000e+00   0.0   0.0  0.000000e+00   0.0   0.0  0.000000e+00   0.0  0.000000e+00  0.000000e+00   0.0  0.000000e+00  0.000000e+00  0.000000e+00   0.0  0.000000e+00   0.0  0.000000e+00       0.000000   0.0   0.0   0.0   0.0   0.0  0.000000e+00   0.0   0.0       0.000000       0.000000       0.000000   0.0   0.0       0.000000
50%    0.000000e+00  5.321409e+05  0.000000e+00       0.000000  0.000000e+00  0.000000e+00  0.000000e+00   0.0       0.000000  0.000000e+00  0.000000e+00  9.580098e+05   0.0   0.0  0.000000e+00   0.0   0.0  0.000000e+00   0.0  2.218510e+05  0.000000e+00   0.0  3.344055e+05  0.000000e+00  0.000000e+00   0.0  0.000000e+00   0.0  0.000000e+00       0.000000   0.0   0.0   0.0   0.0   0.0  0.000000e+00   0.0   0.0       0.000000       0.000000       0.000000   0.0   0.0       0.000000
75%    0.000000e+00  1.746195e+06  4.215773e+05   95477.459549  0.000000e+00  0.000000e+00  0.000000e+00   0.0       0.000000  0.000000e+00  0.000000e+00  2.961487e+06   0.0   0.0  0.000000e+00   0.0   0.0  4.780849e+05   0.0  7.862145e+05  4.868992e+04   0.0  1.455977e+06  4.466718e+04  2.226718e+05   0.0  0.000000e+00   0.0  0.000000e+00       0.000000   0.0   0.0   0.0   0.0   0.0  0.000000e+00   0.0   0.0       0.000000       0.000000       0.000000   0.0   0.0       0.000000
max    3.145850e+06  5.206697e+06  4.053755e+06  920595.562012  1.363596e+06  1.040983e+06  1.160708e+06   0.0  252180.406250  2.016853e+06  5.368495e+06  5.936772e+06   0.0   0.0  2.870282e+06   0.0   0.0  4.599038e+06   0.0  2.754422e+06  2.672327e+06   0.0  5.314145e+06  5.146666e+06  4.359061e+06   0.0  1.523829e+06   0.0  1.621549e+06  612640.713013   0.0   0.0   0.0   0.0   0.0  1.809062e+06   0.0   0.0  348763.866577  486328.326111  839781.269531   0.0   0.0  763743.869049

In [8]:
abSurf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 45 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Site    63 non-null     object
 1   111     63 non-null     float64
 2   112     63 non-null     float64
 3   121     63 non-null     float64
 4   122     63 non-null     float64
 5   123     63 non-null     float64
 6   124     63 non-null     float64
 7   131     63 non-null     float64
 8   132     63 non-null     int64
 9   133     63 non-null     float64
 10  141     63 non-null     float64
 11  142     63 non-null     float64
 12  211     63 non-null     float64
 13  212     63 non-null     int64
 14  213     63 non-null     int64
 15  221     63 non-null     float64
 16  222     63 non-null     int64
 17  223     63 non-null     int64
 18  231     63 non-null     float64
 19  241     63 non-null     int64
 20  242     63 non-null     float64
 21  243     63 non-null     float64
 22  244     63 non-null     int64
 23  311     63 non-null     float64
 24  312     63 non-null     float64
 25  313     63 non-null     float64
 26  321     63 non-null     int64
 27  322     63 non-null     float64
 28  323     63 non-null     int64
 29  324     63 non-null     float64
 30  331     63 non-null     float64
 31  332     63 non-null     int64
 32  333     63 non-null     int64
 33  334     63 non-null     int64
 34  335     63 non-null     int64
 35  411     63 non-null     int64
 36  412     63 non-null     float64
 37  421     63 non-null     int64
 38  422     63 non-null     int64
 39  423     63 non-null     float64
 40  511     63 non-null     float64
 41  512     63 non-null     float64
 42  521     63 non-null     int64
 43  522     63 non-null     int64
 44  523     63 non-null     float64
dtypes: float64(26), int64(18), object(1)
memory usage: 22.3+ KB

In [9]:
for col in abSurf.columns:
    try:
        clc1 = int(int(col)/100)
        clc2 = int(int(col)/10)
        if str(clc1) in abSurf.columns:
            abSurf[str(clc1)] += abSurf[col]
        else:
            abSurf[str(clc1)] = abSurf[col]
        if str(clc2) in abSurf.columns:
            abSurf[str(clc2)] += abSurf[col]
        else:
            abSurf[str(clc2)] = abSurf[col]
    except:
        print("error", col)
        pass

error Site

In [10]:
abSurf.dtypes

Site     object
111     float64
112     float64
121     float64
122     float64
123     float64
124     float64
131     float64
132       int64
133     float64
141     float64
142     float64
211     float64
212       int64
213       int64
221     float64
222       int64
223       int64
231     float64
241       int64
242     float64
243     float64
244       int64
311     float64
312     float64
313     float64
321       int64
322     float64
323       int64
324     float64
331     float64
332       int64
333       int64
334       int64
335       int64
411       int64
412     float64
421       int64
422       int64
423     float64
511     float64
512     float64
521       int64
522       int64
523     float64
1       float64
11      float64
12      float64
13      float64
14      float64
2       float64
21      float64
22      float64
23      float64
24      float64
3       float64
31      float64
32      float64
33      float64
4       float64
41      float64
42      float64
5       float64
51      float64
52      float64
dtype: object

In [11]:
print((abSurf["1"] == abSurf["11"] + abSurf["12"] + abSurf["13"] + abSurf["14"]).unique())
print((abSurf["2"] == abSurf["21"] + abSurf["22"] + abSurf["23"] + abSurf["24"]).unique())

[ True False]
[ True False]

In [12]:
err_filter = ~(abSurf["1"] == abSurf["11"] + abSurf["12"] + abSurf["13"] + abSurf["14"])
df = abSurf[err_filter]
df["1"] - (df["11"] + df["12"] + df["13"] + df["14"])

10    9.313226e-10
11    1.862645e-09
15   -4.656613e-10
18   -9.313226e-10
19    4.656613e-10
dtype: float64

In [13]:
err_filter = ~(abSurf["2"] == abSurf["21"] + abSurf["22"] + abSurf["23"] + abSurf["24"])
df = abSurf[err_filter]
df["2"] - (df["21"] + df["22"] + df["23"] + df["24"])

53   -4.656613e-10
dtype: float64

In [14]:
abSurf[~(abSurf["3"] == abSurf["31"] + abSurf["32"] + abSurf["33"])]

Empty DataFrame
Columns: [Site, 111, 112, 121, 122, 123, 124, 131, 132, 133, 141, 142, 211, 212, 213, 221, 222, 223, 231, 241, 242, 243, 244, 311, 312, 313, 321, 322, 323, 324, 331, 332, 333, 334, 335, 411, 412, 421, 422, 423, 511, 512, 521, 522, 523, 1, 11, 12, 13, 14, 2, 21, 22, 23, 24, 3, 31, 32, 33, 4, 41, 42, 5, 51, 52]
Index: []

In [15]:
abSurf[~(abSurf["4"] == abSurf["41"] + abSurf["42"])]

Empty DataFrame
Columns: [Site, 111, 112, 121, 122, 123, 124, 131, 132, 133, 141, 142, 211, 212, 213, 221, 222, 223, 231, 241, 242, 243, 244, 311, 312, 313, 321, 322, 323, 324, 331, 332, 333, 334, 335, 411, 412, 421, 422, 423, 511, 512, 521, 522, 523, 1, 11, 12, 13, 14, 2, 21, 22, 23, 24, 3, 31, 32, 33, 4, 41, 42, 5, 51, 52]
Index: []

In [16]:
abSurf[~(abSurf["5"] == abSurf["51"] + abSurf["52"])]

Empty DataFrame
Columns: [Site, 111, 112, 121, 122, 123, 124, 131, 132, 133, 141, 142, 211, 212, 213, 221, 222, 223, 231, 241, 242, 243, 244, 311, 312, 313, 321, 322, 323, 324, 331, 332, 333, 334, 335, 411, 412, 421, 422, 423, 511, 512, 521, 522, 523, 1, 11, 12, 13, 14, 2, 21, 22, 23, 24, 3, 31, 32, 33, 4, 41, 42, 5, 51, 52]
Index: []

In [17]:
abSurf.to_csv("../data/interim/absSurfs_clc_group.csv", index=False)