In [2]:
import pandas as pd

In [3]:
abSurf = pd.read_excel("../data/original/absSurfs.xlsx")

In [4]:
abSurf.head()

,Site,111,112,121,122,123,124,131,132,133,...,411,412,421,422,423,511,512,521,522,523
0,F0069,0.0,1.064122e+06,3.587087e+05,0.000000,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
1,F0025,0.0,0.000000e+00,0.000000e+00,412752.692383,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
2,F0027,0.0,2.741746e+05,0.000000e+00,0.000000,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
3,B0128,0.0,2.470089e+06,4.053755e+06,497496.251770,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
4,F0023,0.0,0.000000e+00,2.559254e+05,0.000000,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,284728.392578,0,0,0.0

In [5]:
abSurf.shape

(63, 45)

In [6]:
abSurf.columns

Index(['Site', '111', '112', '121', '122', '123', '124', '131', '132', '133',
       '141', '142', '211', '212', '213', '221', '222', '223', '231', '241',
       '242', '243', '244', '311', '312', '313', '321', '322', '323', '324',
       '331', '332', '333', '334', '335', '411', '412', '421', '422', '423',
       '511', '512', '521', '522', '523'],
      dtype='object')