In [6]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
df_level1 = pd.read_excel("../data/original/clc-nomenclature-c.xls", sheet_name=0)
df_level2 = pd.read_excel("../data/original/clc-nomenclature-c.xls", sheet_name=1)
df_level3 = pd.read_excel("../data/original/clc-nomenclature-c.xls", sheet_name=2)

In [3]:
df_level1.head()

   code_clc_1                     libelle_en
0           1            Artificial surfaces
1           2             Agricultural areas
2           3  Forest and semi natural areas
3           4                       Wetlands
4           5                   Water bodies

In [12]:
df_level2.head(100)

    code_clc_2                                       libelle_en
0           11                                     Urban fabric
1           12       Industrial, commercial and transport units
2           13                Mine, dump and construction sites
3           14     Artificial, non-agricultural vegetated areas
4           21                                      Arable land
5           22                                  Permanent crops
6           23                                         Pastures
7           24                 Heterogeneous agricultural areas
8           31                                          Forests
9           32  Scrub and/or herbaceous vegetation associations
10          33         Open spaces with little or no vegetation
11          41                                  Inland wetlands
12          42                                 Coastal wetlands
13          51                                    Inland waters
14          52                                    Marine waters

In [10]:
df_level3.shape

(44, 2)