In [1]:
import pandas as pd

In [2]:
distsOneSheet = pd.read_excel("../data/original/distsOneSheet.xlsx")

In [3]:
distsOneSheet.head()

    Site     polyID  classCLC         dist
0  F0069   FR-88090       231  1183.022362
1  F0069  FR-131773       242   289.926324
2  F0069   FR-46167       211   221.344153
3  F0069   FR-11047       112  1038.383069
4  F0069  FR-195343       311   724.045683