In [1]:
import pandas as pd
import numpy as np

In [2]:
distsOneSheet = pd.read_excel("../data/original/distsOneSheet.xlsx")

In [3]:
distsOneSheet.head()

    Site     polyID  classCLC         dist
0  F0069   FR-88090       231  1183.022362
1  F0069  FR-131773       242   289.926324
2  F0069   FR-46167       211   221.344153
3  F0069   FR-11047       112  1038.383069
4  F0069  FR-195343       311   724.045683

In [4]:
distsOneSheet.shape

(632, 4)

In [5]:
distsOneSheet["classCLC1"] = (distsOneSheet.classCLC//100)
distsOneSheet["classCLC2"] = (distsOneSheet.classCLC//10)

In [6]:
distsOneSheet.head()

    Site     polyID  classCLC         dist  classCLC1  classCLC2
0  F0069   FR-88090       231  1183.022362          2         23
1  F0069  FR-131773       242   289.926324          2         24
2  F0069   FR-46167       211   221.344153          2         21
3  F0069   FR-11047       112  1038.383069          1         11
4  F0069  FR-195343       311   724.045683          3         31

## CLC1->3

In [14]:
df_clc1 = pd.pivot_table(distsOneSheet, values=["dist"], columns="classCLC1", index="Site", aggfunc="mean" )

In [15]:
df_clc2 = pd.pivot_table(distsOneSheet, values=["dist"], columns="classCLC2", index="Site", aggfunc="mean" )

In [16]:
df_clc3 = pd.pivot_table(distsOneSheet, values=["dist"], columns="classCLC", index="Site", aggfunc="mean" )

In [18]:
df_clc3

                 dist                                                \
classCLC          111         112          121          122 123 124
Site
B0012     1020.033273  564.609800   117.220148          NaN NaN NaN
B0017             NaN  230.733942  1457.209438          NaN NaN NaN
B0019             NaN         NaN          NaN          NaN NaN NaN
B0021             NaN         NaN          NaN          NaN NaN NaN
B0023             NaN         NaN          NaN          NaN NaN NaN
...               ...         ...          ...          ...  ..  ..
F0069             NaN  737.549842     0.000000          NaN NaN NaN
F0071             NaN         NaN   990.596850          NaN NaN NaN
F0073             NaN         NaN          NaN          NaN NaN NaN
F0075             NaN  751.533157   344.517523  1444.909224 NaN NaN
FE0001            NaN    0.000000          NaN          NaN NaN NaN

                                           ...                               \
classCLC         131 133 141          142  ...         312          313 322
Site                                       ...
B0012            NaN NaN NaN          NaN  ...         NaN          NaN NaN
B0017            NaN NaN NaN          NaN  ...  748.012196   822.594346 NaN
B0019            NaN NaN NaN          NaN  ...    0.000000   781.929481 NaN
B0021            NaN NaN NaN          NaN  ...    2.471250   656.810840 NaN
B0023            NaN NaN NaN  1223.368654  ...  853.177552  1384.179102 NaN
...              ...  ..  ..          ...  ...         ...          ...  ..
F0069            NaN NaN NaN  1094.991277  ...         NaN          NaN NaN
F0071     1066.57633 NaN NaN          NaN  ...  335.968443          NaN NaN
F0073            NaN NaN NaN          NaN  ...  179.948760  1456.733477 NaN
F0075            NaN NaN NaN          NaN  ...         NaN          NaN NaN
FE0001           NaN NaN NaN          NaN  ...         NaN          NaN NaN


classCLC         324 331         412 423        511          512 523
Site
B0012            NaN NaN         NaN NaN  55.262657          NaN NaN
B0017            NaN NaN         NaN NaN        NaN          NaN NaN
B0019            NaN NaN  462.433522 NaN        NaN          NaN NaN
B0021            NaN NaN  365.900871 NaN        NaN          NaN NaN
B0023     760.607640 NaN    0.000000 NaN        NaN          NaN NaN
...              ...  ..         ...  ..        ...          ...  ..
F0069            NaN NaN         NaN NaN        NaN          NaN NaN
F0071     764.874464 NaN         NaN NaN        NaN  1020.272036 NaN
F0073     842.498921 NaN         NaN NaN        NaN          NaN NaN
F0075            NaN NaN         NaN NaN        NaN          NaN NaN
FE0001           NaN NaN         NaN NaN        NaN          NaN NaN

[63 rows x 26 columns]

## Regroup all in one

In [19]:
result = pd.concat([df_clc1, df_clc2,df_clc3], axis=1)

In [20]:
result

                  dist                                                    \
classCLC1          1            2           3           4            5
Site
B0012       491.383828  1087.774122  934.164041         NaN    55.262657
B0017       843.971690   833.691581  792.501380         NaN          NaN
B0019              NaN          NaN  662.515291  462.433522          NaN
B0021              NaN  1193.174294  560.864627  365.900871          NaN
B0023      1223.368654   301.686590  791.924039    0.000000          NaN
...                ...          ...         ...         ...          ...
F0069       661.528161   756.206108  724.045683         NaN          NaN
F0071      1028.586590   610.105333  834.553486         NaN  1020.272036
F0073              NaN   502.079084  834.446320         NaN          NaN
F0075       823.123265     0.000000         NaN         NaN          NaN
FE0001        0.000000   385.590720  959.229801         NaN          NaN

                                                                         ...  \
classCLC1         11           12          13           14          21   ...
Site                                                                     ...
B0012      678.465668   117.220148         NaN          NaN         NaN  ...
B0017      230.733942  1457.209438         NaN          NaN         NaN  ...
B0019             NaN          NaN         NaN          NaN         NaN  ...
B0021             NaN          NaN         NaN          NaN         NaN  ...
B0023             NaN          NaN         NaN  1223.368654         NaN  ...
...               ...          ...         ...          ...         ...  ...
F0069      737.549842     0.000000         NaN  1094.991277  512.649210  ...
F0071             NaN   990.596850  1066.57633          NaN  516.221052  ...
F0073             NaN          NaN         NaN          NaN  502.079084  ...
F0075      751.533157   894.713374         NaN          NaN    0.000000  ...
FE0001       0.000000          NaN         NaN          NaN  559.127486  ...

                                                                        \
classCLC1         312          313 322         324 331         412 423
Site
B0012             NaN          NaN NaN         NaN NaN         NaN NaN
B0017      748.012196   822.594346 NaN         NaN NaN         NaN NaN
B0019        0.000000   781.929481 NaN         NaN NaN  462.433522 NaN
B0021        2.471250   656.810840 NaN         NaN NaN  365.900871 NaN
B0023      853.177552  1384.179102 NaN  760.607640 NaN    0.000000 NaN
...               ...          ...  ..         ...  ..         ...  ..
F0069             NaN          NaN NaN         NaN NaN         NaN NaN
F0071      335.968443          NaN NaN  764.874464 NaN         NaN NaN
F0073      179.948760  1456.733477 NaN  842.498921 NaN         NaN NaN
F0075             NaN          NaN NaN         NaN NaN         NaN NaN
FE0001            NaN          NaN NaN         NaN NaN         NaN NaN


classCLC1        511          512 523
Site
B0012      55.262657          NaN NaN
B0017            NaN          NaN NaN
B0019            NaN          NaN NaN
B0021            NaN          NaN NaN
B0023            NaN          NaN NaN
...              ...          ...  ..
F0069            NaN          NaN NaN
F0071            NaN  1020.272036 NaN
F0073            NaN          NaN NaN
F0075            NaN          NaN NaN
FE0001           NaN          NaN NaN

[63 rows x 46 columns]

In [21]:
result.to_csv("../data/interim/distsOneSheet_clc_group.csv", index=False)

In [22]:
df_clc1.to_csv("../data/interim/distsOneSheet_clc_1.csv", index=False)
df_clc2.to_csv("../data/interim/distsOneSheet_clc_2.csv", index=False)
df_clc3.to_csv("../data/interim/distsOneSheet_clc_3.csv", index=False)