In [1]:
import pandas as pd
import numpy as np

In [2]:
distsOneSheet = pd.read_excel("../data/original/distsOneSheet.xlsx")

In [3]:
distsOneSheet.head()

    Site     polyID  classCLC         dist
0  F0069   FR-88090       231  1183.022362
1  F0069  FR-131773       242   289.926324
2  F0069   FR-46167       211   221.344153
3  F0069   FR-11047       112  1038.383069
4  F0069  FR-195343       311   724.045683

In [4]:
distsOneSheet.shape

(632, 4)

In [5]:
distsOneSheet["classCLC1"] = (distsOneSheet.classCLC//100)
distsOneSheet["classCLC2"] = (distsOneSheet.classCLC//10)

In [6]:
distsOneSheet.head()

    Site     polyID  classCLC         dist  classCLC1  classCLC2
0  F0069   FR-88090       231  1183.022362          2         23
1  F0069  FR-131773       242   289.926324          2         24
2  F0069   FR-46167       211   221.344153          2         21
3  F0069   FR-11047       112  1038.383069          1         11
4  F0069  FR-195343       311   724.045683          3         31

## CLC1

In [7]:
df_clc1 = distsOneSheet.groupby(["Site","classCLC1"]).mean()
df_clc1.drop(["classCLC", "classCLC2"], inplace=True, axis=1)
df_clc1.head()

                        dist
Site  classCLC1
B0012 1           491.383828
      2          1087.774122
      3           934.164041
      5            55.262657
B0017 1           843.971690

In [8]:
df_clc1.reset_index(level=0, inplace=True)
df_clc1.set_index("classCLC1", inplace=True)
df_clc1.drop("index", axis=1, inplace=True)
df_clc1

KeyError: "None of ['classCLC1'] are in the columns"

In [ ]:
hjdsgfjhsqfgjksd

## CLC2

In [ ]:
df_clc2 = distsOneSheet.groupby(["Site","classCLC2"]).mean()
df_clc2.drop(["classCLC", "classCLC1"], inplace=True, axis=1)
df_clc2.head()