In [13]:
import pandas as pd
import numpy as np

In [2]:
distsOneSheet = pd.read_excel("../data/original/distsOneSheet.xlsx")

In [3]:
distsOneSheet.head()

    Site     polyID  classCLC         dist
0  F0069   FR-88090       231  1183.022362
1  F0069  FR-131773       242   289.926324
2  F0069   FR-46167       211   221.344153
3  F0069   FR-11047       112  1038.383069
4  F0069  FR-195343       311   724.045683

In [5]:
distsOneSheet.tail()

      Site    polyID  classCLC         dist
627  B0158   BE-9408       231   959.550638
628  B0158   BE-9434       231  1103.848468
629  B0158  BE-12970       242  1229.411653
630  B0158  BE-12998       242  1210.875452
631  B0158  BE-18855       243     0.000000

In [4]:
distsOneSheet.shape

(632, 4)

In [25]:
distsOneSheet["classCLC1"] = (distsOneSheet.classCLC/100).astype(int)
distsOneSheet["classCLC2"] = (distsOneSheet.classCLC/10).astype(int)
distsOneSheet["classCLC3"] = distsOneSheet.classCLC

In [26]:
distsOneSheet.head()

    Site     polyID  classCLC         dist  classCLC1  classCLC2  classCLC3
0  F0069   FR-88090       231  1183.022362          2         23        231
1  F0069  FR-131773       242   289.926324          2         24        242
2  F0069   FR-46167       211   221.344153          2         21        211
3  F0069   FR-11047       112  1038.383069          1         11        112
4  F0069  FR-195343       311   724.045683          3         31        311