In [1]:
import pandas as pd

In [2]:
df_p1 = pd.read_excel("../data/original/2020/HM/HM_2020_P1.xlsx")
df_p2 = pd.read_excel("../data/original/2020/HM/HM_2020_P2.xlsx")
df_p3 = pd.read_excel("../data/original/2020/HM/HM_2020_P3.xlsx")
df_p4 = pd.read_excel("../data/original/2020/HM/HM_2020_P4.xlsx")

In [3]:
df_p1.head()

,REF....SUBSTANCE,PERIOD,Lead,Cadmium,Arsenic,Mercury,Copper,Chrome,Zinc
0,B0012,2020/P1,0.88,0.29,0.048,0.0,11.0,0.140,51
1,B0017,2020/P1,0.14,0.42,0.000,0.0,7.9,0.066,45
2,B0019,2020/P1,0.15,0.68,0.000,0.0,7.6,0.071,46
3,B0021,2020/P1,0.16,0.47,0.000,0.0,7.3,0.082,40
4,B0023,2020/P1,0.21,0.73,0.030,0.0,8.1,0.081,48

In [4]:
df_p2.head()

,REF....SUBSTANCE,PERIOD,Lead,Cadmium,Arsenic,Mercury,Copper,Chrome,Zinc
0,B0012,2020/P2,0.650,0.23,0.0,0.0,8.7,0.110,48
1,B0017,2020/P2,0.085,0.13,0.0,0.0,6.8,0.046,30
2,B0019,2020/P2,0.099,0.26,0.0,0.0,8.3,0.052,31
3,B0021,2020/P2,0.120,0.11,0.0,0.0,8.7,0.066,28
4,B0023,2020/P2,0.084,0.26,0.0,0.0,10.0,0.036,41

In [5]:
df_p3.head()

,REF....SUBSTANCE,PERIOD,Lead,Cadmium,Arsenic,Mercury,Copper,Chrome,Zinc
0,B0012,2020/P3,0.89,0.160,0.059,0.0,7.2,0.140,43
1,B0017,2020/P3,0.13,0.045,0.039,0.0,6.9,0.060,30
2,B0019,2020/P3,0.12,0.160,0.055,0.0,6.5,0.066,29
3,B0021,2020/P3,0.16,0.260,0.067,0.0,6.6,0.073,30
4,B0023,2020/P3,0.17,0.260,0.042,0.0,8.0,0.077,31

In [7]:
df_p4.head()

,REF....SUBSTANCE,PERIOD,Lead,Cadmium,Arsenic,Mercury,Copper,Chrome,Zinc
0,B0012,2020/P4,0.630,0.640,0.053,0.0,9.1,0.160,40
1,B0017,2020/P4,0.077,0.160,0.000,0.0,5.8,0.039,21
2,B0019,2020/P4,0.064,0.079,0.000,0.0,5.3,0.073,17
3,B0021,2020/P4,0.140,0.130,0.049,0.0,6.1,0.092,25
4,B0023,2020/P4,0.110,0.140,0.000,0.0,6.5,0.210,28

In [8]:
df_p1.columns

Index(['REF....SUBSTANCE', 'PERIOD', 'Lead', 'Cadmium', 'Arsenic', 'Mercury',
       'Copper', 'Chrome', 'Zinc'],
      dtype='object')