In [1]:
import pandas as pd

In [4]:
df_p1 = pd.read_excel("../data/external/HM_2019_P1.xlsx")
df_p2 = pd.read_excel("../data/external/HM_2019_P2.xlsx")
df_p3 = pd.read_excel("../data/external/HM_2019_P3.xlsx")
df_p4 = pd.read_excel("../data/external/HM_2019_P4.xlsx")

In [5]:
df_p1.head()

   code_clc_1                     libelle_en
0           1            Artificial surfaces
1           2             Agricultural areas
2           3  Forest and semi natural areas
3           4                       Wetlands
4           5                   Water bodies

In [6]:
df_p2.head()

   code_clc_2                                    libelle_en
0          11                                  Urban fabric
1          12    Industrial, commercial and transport units
2          13             Mine, dump and construction sites
3          14  Artificial, non-agricultural vegetated areas
4          21                                   Arable land

In [7]:
df_p3.head()

   code_clc_3                                         libelle_en
0         111                            Continuous urban fabric
1         112                         Discontinuous urban fabric
2         121  Industrial or commercial units and public faci...
3         122         Road and rail networks and associated land
4         123                                         Port areas