In [1]:
import pandas as pd

In [2]:
df_p1 = pd.read_excel("../data/original/2017/HM/HM_2017_P1.xlsx")
df_p2 = pd.read_excel("../data/original/2017/HM/HM_2017_P2.xlsx")
df_p3 = pd.read_excel("../data/original/2017/HM/HM_2017_P3.xlsx")
df_p4 = pd.read_excel("../data/original/2017/HM/HM_2017_P4.xlsx")

In [3]:
df_p1.head()

,REF....SUBSTANCE,PERIOD,Lead,Cadmium,Arsenic,Mercury,Copper,Chrome,Zinc
0,B0017,2018/P1,0.074,0.29,0.037,0.0,6.4,0.051,37
1,B0019,2018/P1,0.073,0.78,0.000,0.0,4.4,0.061,45
2,B0021,2018/P1,0.047,2.10,0.000,0.0,4.2,0.024,53
3,B0023,2018/P1,0.060,0.30,0.000,0.0,7.4,0.035,43
4,B0032,2018/P1,0.140,0.21,0.000,0.0,6.0,0.055,41

In [4]:
df_p2.head()

,REF....SUBSTANCE,PERIOD,Lead,Cadmium,Arsenic,Mercury,Copper,Chrome,Zinc
0,B0017,2018/P2,0.12,0.190,0.000,0,7.4,0.046,50
1,B0019,2018/P2,0.13,0.026,0.051,0,8.1,0.110,42
2,B0021,2018/P2,0.20,0.410,0.039,0,9.1,0.074,41
3,B0023,2018/P2,0.16,0.430,0.000,0,8.9,0.060,38
4,B0032,2018/P2,0.24,0.033,0.033,0,4.0,0.110,32

In [5]:
df_p3.head()

,REF....SUBSTANCE,PERIOD,Lead,Cadmium,Arsenic,Mercury,Copper,Chrome,Zinc
0,B0017,2018/P3,0.11,0.079,0.054,0.0,5.2,0.047,30
1,B0019,2018/P3,0.13,0.022,0.091,0.0,6.4,0.052,32
2,B0021,2018/P3,0.34,0.280,0.080,0.0,8.5,0.110,33
3,B0023,2018/P3,0.16,0.290,0.067,0.0,8.0,0.069,33
4,B0032,2018/P3,0.16,0.080,0.045,0.0,5.7,0.079,25

In [6]:
df_p4.head()

,REF....SUBSTANCE,PERIOD,Lead,Cadmium,Arsenic,Mercury,Copper,Chrome,Zinc
0,B0019,2018/P4,0.450,0.87,0.088,0.005,10.0,0.150,84
1,B0021,2018/P4,0.370,0.42,0.053,0.000,16.0,0.056,48
2,B0023,2018/P4,0.110,0.12,0.000,0.000,7.2,0.094,31
3,B0032,2018/P4,0.077,0.47,0.000,0.000,8.0,0.045,42
4,B0061,2018/P4,0.140,0.54,0.040,0.000,7.7,0.120,35

In [7]:
df_p1.columns

Index(['REF....SUBSTANCE', 'PERIOD', 'Lead', 'Cadmium', 'Arsenic', 'Mercury',
       'Copper', 'Chrome', 'Zinc'],
      dtype='object')