In [1]:
import pandas as pd

In [2]:
df_p1 = pd.read_excel("../data/original/2020/HM/HM_2020_P1.xlsx")
df_p2 = pd.read_excel("../data/original/2020/HM/HM_2020_P2.xlsx")
df_p3 = pd.read_excel("../data/original/2020/HM/HM_2020_P3.xlsx")
df_p4 = pd.read_excel("../data/original/2020/HM/HM_2020_P4.xlsx")
df = pd.concat([df_p1,df_p2,df_p3,df_p4])

In [12]:
df['SEASON'] = df['PERIOD'].str[-2:]

In [14]:
size = len("2020/P1")
df['PERIOD'] = df['PERIOD'].str[:size -3]

In [15]:
df

,REF....SUBSTANCE,PERIOD,Lead,Cadmium,Arsenic,Mercury,Copper,Chrome,Zinc,SEASON
0,B0012,2020,0.880,0.290,0.048,0.0,11.0,0.140,51,P1
1,B0017,2020,0.140,0.420,0.000,0.0,7.9,0.066,45,P1
2,B0019,2020,0.150,0.680,0.000,0.0,7.6,0.071,46,P1
3,B0021,2020,0.160,0.470,0.000,0.0,7.3,0.082,40,P1
4,B0023,2020,0.210,0.730,0.030,0.0,8.1,0.081,48,P1
...,...,...,...,...,...,...,...,...,...,...
19,F0035,2020,0.049,0.150,0.093,0.0,6.3,0.087,54,P4
20,F0065,2020,1.400,0.085,0.081,0.0,11.0,0.340,37,P4
21,F0067,2020,0.047,0.090,0.000,0.0,5.1,0.049,21,P4
22,F0071,2020,0.000,0.075,0.035,0.0,5.0,0.056,33,P4
23,F0073,2020,0.058,0.025,0.000,0.0,7.6,0.064,34,P4

In [6]:
df_p4.head()

,REF....SUBSTANCE,PERIOD,Lead,Cadmium,Arsenic,Mercury,Copper,Chrome,Zinc
0,B0012,2020/P4,0.630,0.640,0.053,0.0,9.1,0.160,40
1,B0017,2020/P4,0.077,0.160,0.000,0.0,5.8,0.039,21
2,B0019,2020/P4,0.064,0.079,0.000,0.0,5.3,0.073,17
3,B0021,2020/P4,0.140,0.130,0.049,0.0,6.1,0.092,25
4,B0023,2020/P4,0.110,0.140,0.000,0.0,6.5,0.210,28

In [7]:
df_p1.columns

Index(['REF....SUBSTANCE', 'PERIOD', 'Lead', 'Cadmium', 'Arsenic', 'Mercury',
       'Copper', 'Chrome', 'Zinc'],
      dtype='object')