In [1]:
import pandas as pd

In [2]:
abSurf = pd.read_excel("../data/original/absSurfs.xlsx")

In [3]:
abSurf.head()

,Site,111,112,121,122,123,124,131,132,133,...,411,412,421,422,423,511,512,521,522,523
0,F0069,0.0,1.064122e+06,3.587087e+05,0.000000,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
1,F0025,0.0,0.000000e+00,0.000000e+00,412752.692383,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
2,F0027,0.0,2.741746e+05,0.000000e+00,0.000000,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
3,B0128,0.0,2.470089e+06,4.053755e+06,497496.251770,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
4,F0023,0.0,0.000000e+00,2.559254e+05,0.000000,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,284728.392578,0,0,0.0

In [4]:
abSurf.tail()

,Site,111,112,121,122,123,124,131,132,133,...,411,412,421,422,423,511,512,521,522,523
58,F0007,0.0,0.000000e+00,0.000000,0.000000,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.0,0,0,0.0
59,B0069,0.0,8.704243e+05,0.000000,0.000000,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.0,0,0,0.0
60,B0152,0.0,4.575279e+06,572639.140564,201434.000214,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.0,0,0,0.0
61,F0003,0.0,3.425116e+05,0.000000,0.000000,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.0,0,0,0.0
62,B0158,0.0,1.467398e+05,0.000000,318178.187439,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.0,0,0,0.0

In [5]:
abSurf.shape

(63, 45)

In [6]:
abSurf.columns

Index(['Site', '111', '112', '121', '122', '123', '124', '131', '132', '133',
       '141', '142', '211', '212', '213', '221', '222', '223', '231', '241',
       '242', '243', '244', '311', '312', '313', '321', '322', '323', '324',
       '331', '332', '333', '334', '335', '411', '412', '421', '422', '423',
       '511', '512', '521', '522', '523'],
      dtype='object')

In [7]:
abSurf.describe()

,111,112,121,122,123,124,131,132,133,141,...,411,412,421,422,423,511,512,521,522,523
count,6.300000e+01,6.300000e+01,6.300000e+01,63.000000,6.300000e+01,6.300000e+01,6.300000e+01,63.0,63.000000,6.300000e+01,...,63.0,6.300000e+01,63.0,63.0,63.000000,63.000000,63.000000,63.0,63.0,63.000000
mean,1.088956e+05,1.145621e+06,4.788801e+05,106502.871447,4.189938e+04,1.652354e+04,3.876016e+04,0.0,7647.955435,5.982277e+04,...,0.0,4.968008e+04,0.0,0.0,11215.541029,24681.755180,38290.676109,0.0,0.0,16146.875678
std,4.594387e+05,1.325734e+06,9.376132e+05,209089.915608,2.155835e+05,1.311515e+05,1.653124e+05,0.0,39656.908100,2.878913e+05,...,0.0,2.586634e+05,0.0,0.0,58270.310304,93012.938519,143092.616270,0.0,0.0,100894.883145
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000,0.000000e+00,...,0.0,0.000000e+00,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000
25%,0.000000e+00,1.799432e+05,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000,0.000000e+00,...,0.0,0.000000e+00,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000
50%,0.000000e+00,5.321409e+05,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000,0.000000e+00,...,0.0,0.000000e+00,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000
75%,0.000000e+00,1.746195e+06,4.215773e+05,95477.459549,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000,0.000000e+00,...,0.0,0.000000e+00,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000
max,3.145850e+06,5.206697e+06,4.053755e+06,920595.562012,1.363596e+06,1.040983e+06,1.160708e+06,0.0,252180.406250,2.016853e+06,...,0.0,1.809062e+06,0.0,0.0,348763.866577,486328.326111,839781.269531,0.0,0.0,763743.869049

In [8]:
abSurf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 45 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Site    63 non-null     object
 1   111     63 non-null     float64
 2   112     63 non-null     float64
 3   121     63 non-null     float64
 4   122     63 non-null     float64
 5   123     63 non-null     float64
 6   124     63 non-null     float64
 7   131     63 non-null     float64
 8   132     63 non-null     int64
 9   133     63 non-null     float64
 10  141     63 non-null     float64
 11  142     63 non-null     float64
 12  211     63 non-null     float64
 13  212     63 non-null     int64
 14  213     63 non-null     int64
 15  221     63 non-null     float64
 16  222     63 non-null     int64
 17  223     63 non-null     int64
 18  231     63 non-null     float64
 19  241     63 non-null     int64
 20  242     63 non-null     float64
 21  243     63 non-null     float64
 22  244     63 non-null     int64
 23  311     63 non-null     float64
 24  312     63 non-null     float64
 25  313     63 non-null     float64
 26  321     63 non-null     int64
 27  322     63 non-null     float64
 28  323     63 non-null     int64
 29  324     63 non-null     float64
 30  331     63 non-null     float64
 31  332     63 non-null     int64
 32  333     63 non-null     int64
 33  334     63 non-null     int64
 34  335     63 non-null     int64
 35  411     63 non-null     int64
 36  412     63 non-null     float64
 37  421     63 non-null     int64
 38  422     63 non-null     int64
 39  423     63 non-null     float64
 40  511     63 non-null     float64
 41  512     63 non-null     float64
 42  521     63 non-null     int64
 43  522     63 non-null     int64
 44  523     63 non-null     float64
dtypes: float64(26), int64(18), object(1)
memory usage: 22.3+ KB

In [9]:
for col in abSurf.columns:
    try:
        clc1 = int(int(col)/100)
        clc2 = int(int(col)/10)
        if str(clc1) in abSurf.columns:
            print(clc1, "exist")
            abSurf[str(clc1)] += abSurf[col]
        else:
            print(clc1, "not exist")
            abSurf[str(clc1)] = abSurf[col]
        if str(clc2) in abSurf.columns:
            print(clc2, "exist")
            abSurf[str(clc2)] += abSurf[col]
        else:
            print(clc2, "not exist")
            abSurf[str(clc2)] = abSurf[col]
    except:
        pass

1 not exist
11 not exist
1 exist
11 exist
1 exist
12 not exist
1 exist
12 exist
1 exist
12 exist
1 exist
12 exist
1 exist
13 not exist
1 exist
13 exist
1 exist
13 exist
1 exist
14 not exist
1 exist
14 exist
2 not exist
21 not exist
2 exist
21 exist
2 exist
21 exist
2 exist
22 not exist
2 exist
22 exist
2 exist
22 exist
2 exist
23 not exist
2 exist
24 not exist
2 exist
24 exist
2 exist
24 exist
2 exist
24 exist
3 not exist
31 not exist
3 exist
31 exist
3 exist
31 exist
3 exist
32 not exist
3 exist
32 exist
3 exist
32 exist
3 exist
32 exist
3 exist
33 not exist
3 exist
33 exist
3 exist
33 exist
3 exist
33 exist
3 exist
33 exist
4 not exist
41 not exist
4 exist
41 exist
4 exist
42 not exist
4 exist
42 exist
4 exist
42 exist
5 not exist
51 not exist
5 exist
51 exist
5 exist
52 not exist
5 exist
52 exist
5 exist
52 exist

In [10]:
abSurf

,Site,111,112,121,122,123,124,131,132,133,...,3,31,32,33,4,41,42,5,51,52
0,F0069,0.0,1.064122e+06,3.587087e+05,0.000000,0.0,0.0,0.0,0,0.0,...,2.550014e+05,2.550014e+05,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
1,F0025,0.0,0.000000e+00,0.000000e+00,412752.692383,0.0,0.0,0.0,0,0.0,...,5.017221e+06,4.498313e+06,518907.404297,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
2,F0027,0.0,2.741746e+05,0.000000e+00,0.000000,0.0,0.0,0.0,0,0.0,...,3.212519e+06,3.212519e+06,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
3,B0128,0.0,2.470089e+06,4.053755e+06,497496.251770,0.0,0.0,0.0,0,0.0,...,0.000000e+00,0.000000e+00,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
4,F0023,0.0,0.000000e+00,2.559254e+05,0.000000,0.0,0.0,0.0,0,0.0,...,2.961621e+06,2.938245e+06,23375.861328,0.0,0.0,0.0,0.0,284728.392578,284728.392578,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,F0007,0.0,0.000000e+00,0.000000e+00,0.000000,0.0,0.0,0.0,0,0.0,...,3.267290e+06,3.267290e+06,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
59,B0069,0.0,8.704243e+05,0.000000e+00,0.000000,0.0,0.0,0.0,0,0.0,...,2.383795e+05,2.383795e+05,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
60,B0152,0.0,4.575279e+06,5.726391e+05,201434.000214,0.0,0.0,0.0,0,0.0,...,3.416169e+05,0.000000e+00,341616.858246,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
61,F0003,0.0,3.425116e+05,0.000000e+00,0.000000,0.0,0.0,0.0,0,0.0,...,6.079848e+06,6.079848e+06,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
62,B0158,0.0,1.467398e+05,0.000000e+00,318178.187439,0.0,0.0,0.0,0,0.0,...,0.000000e+00,0.000000e+00,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0

In [11]:
print((abSurf["1"] == abSurf["11"] + abSurf["12"] + abSurf["13"] + abSurf["14"]).unique())
print((abSurf["2"] == abSurf["21"] + abSurf["22"] + abSurf["23"] + abSurf["24"]).unique())

[ True False]
[ True False]

In [13]:
abSurf[~(abSurf["1"] == abSurf["11"] + abSurf["12"] + abSurf["13"] + abSurf["14"])]

,Site,111,112,121,122,123,124,131,132,133,...,3,31,32,33,4,41,42,5,51,52
10,F0037,0.000000e+00,1.111996e+06,3.175634e+06,668827.523926,1.037133e+06,0.0,0.0,0,0.0,...,1.843450e+05,0.000000e+00,10333.500977,174011.518066,50866.270508,0.0,50866.270508,839781.269531,839781.269531,0.0
11,B0116,0.000000e+00,4.836129e+06,3.798305e+05,313846.934143,0.000000e+00,0.0,0.0,0,0.0,...,3.614984e+05,3.614984e+05,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0
15,F0041,0.000000e+00,0.000000e+00,3.383666e+06,256493.796875,0.000000e+00,0.0,0.0,0,0.0,...,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0
18,F0065,1.520010e+06,3.352559e+06,1.017840e+06,920595.562012,0.000000e+00,0.0,0.0,0,0.0,...,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0
19,F0067,0.000000e+00,7.102858e+05,2.077216e+06,368233.994629,0.000000e+00,0.0,0.0,0,0.0,...,3.573957e+06,3.573957e+06,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0

In [14]:
abSurf[~(abSurf["2"] == abSurf["21"] + abSurf["22"] + abSurf["23"] + abSurf["24"])]

,Site,111,112,121,122,123,124,131,132,133,...,3,31,32,33,4,41,42,5,51,52
53,F0013,0.0,917192.881348,0.0,0.0,0.0,0.0,0.0,0,0.0,...,3.353666e+06,2.890754e+06,462911.597168,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
abSurf[~(abSurf["3"] == abSurf["31"] + abSurf["32"] + abSurf["33"])]

Empty DataFrame
Columns: [Site, 111, 112, 121, 122, 123, 124, 131, 132, 133, 141, 142, 211, 212, 213, 221, 222, 223, 231, 241, 242, 243, 244, 311, 312, 313, 321, 322, 323, 324, 331, 332, 333, 334, 335, 411, 412, 421, 422, 423, 511, 512, 521, 522, 523, 1, 11, 12, 13, 14, 2, 21, 22, 23, 24, 3, 31, 32, 33, 4, 41, 42, 5, 51, 52]
Index: []

[0 rows x 65 columns]

In [16]:
abSurf[~(abSurf["4"] == abSurf["41"] + abSurf["42"])]

Empty DataFrame
Columns: [Site, 111, 112, 121, 122, 123, 124, 131, 132, 133, 141, 142, 211, 212, 213, 221, 222, 223, 231, 241, 242, 243, 244, 311, 312, 313, 321, 322, 323, 324, 331, 332, 333, 334, 335, 411, 412, 421, 422, 423, 511, 512, 521, 522, 523, 1, 11, 12, 13, 14, 2, 21, 22, 23, 24, 3, 31, 32, 33, 4, 41, 42, 5, 51, 52]
Index: []

[0 rows x 65 columns]

In [17]:
abSurf[~(abSurf["5"] == abSurf["51"] + abSurf["52"])]

Empty DataFrame
Columns: [Site, 111, 112, 121, 122, 123, 124, 131, 132, 133, 141, 142, 211, 212, 213, 221, 222, 223, 231, 241, 242, 243, 244, 311, 312, 313, 321, 322, 323, 324, 331, 332, 333, 334, 335, 411, 412, 421, 422, 423, 511, 512, 521, 522, 523, 1, 11, 12, 13, 14, 2, 21, 22, 23, 24, 3, 31, 32, 33, 4, 41, 42, 5, 51, 52]
Index: []

[0 rows x 65 columns]