In [1]:
import pandas as pd
## pip install xlrd==1.2.0

In [2]:
df_p1 = pd.read_excel("../data/external/HM_2019_P1.xlsx")
df_p2 = pd.read_excel("../data/external/HM_2019_P2.xlsx")
df_p3 = pd.read_excel("../data/external/HM_2019_P3.xlsx")
df_p4 = pd.read_excel("../data/external/HM_2019_P4.xlsx")

In [3]:
df_p1.head()

,REF....SUBSTANCE,PERIOD,Lead,Cadmium,Arsenic,Mercury,Copper,Chrome,Zinc
0,B0017,2019/P1,0.099,0.51,0.000,0.0,6.7,0.034,36
1,B0019,2019/P1,0.280,0.70,0.054,0.0,6.0,0.100,42
2,B0021,2019/P1,0.097,0.89,0.000,0.0,4.8,0.047,37
3,B0023,2019/P1,0.110,1.10,0.000,0.0,5.1,0.049,41
4,B0032,2019/P1,0.230,0.26,0.036,0.0,6.3,0.120,38

In [4]:
df_p2.head()

,REF....SUBSTANCE,PERIOD,Lead,Cadmium,Arsenic,Mercury,Copper,Chrome,Zinc
0,B0017,2019/P2,0.061,0.57,0.000,0.0,11.0,0.019,49
1,B0019,2019/P2,0.045,0.52,0.000,0.0,9.2,0.015,45
2,B0021,2019/P2,0.081,0.62,0.000,0.0,9.5,0.026,54
3,B0023,2019/P2,0.078,0.70,0.000,0.0,9.8,0.026,54
4,B0032,2019/P2,0.180,0.21,0.034,0.0,12.0,0.093,73

In [5]:
df_p3.head()

,REF....SUBSTANCE,PERIOD,Lead,Cadmium,Arsenic,Mercury,Copper,Chrome,Zinc
0,B0017,2019/P3,0.063,0.20,0.036,0.0,7.1,0.025,27
1,B0019,2019/P3,0.140,0.27,0.047,0.0,6.4,0.064,31
2,B0021,2019/P3,0.092,0.14,0.046,0.0,7.8,0.061,28
3,B0023,2019/P3,0.078,0.45,0.000,0.0,8.1,0.049,25
4,B0032,2019/P3,0.082,0.10,0.000,0.0,5.7,0.092,19

In [ ]:
df_p1.columns